<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
        <h1>WELCOME BACK <%= user.username %>
        </h1>
        <h1>Posts</h1>
        <a href="/new">Create new message</a><br>
        <a href="/enter">Become a club member!</a>
        <% posts.forEach(post=> { %>
            <div>
                <h2>
                    <%= post.title %>
                </h2>
                <p><strong>Author:</strong>
                    <% if(inClub) { %>
                        <%= post.author %>
                            <% } else {%>
                                <p>*******</p>
                                <%}%>
                </p>
                <p>
                    <%= post.content %>
                </p>
                <p><em>Date Added:</em>
                    <% if(inClub) { %>
                        <%= post.added.toDateString() %>
                        <% } else {%>
                                <p>*******</p>
                                <%}%>
                </p>
            </div>
            <% }) %>
                </ul>
                <a href="/log-out">LOG OUT</a>


</body>

</html>